station.ssid=MyWifi
station.password=topsecret
hub.ip=10.10.1.1
; default is 7411
hub.port=7411
; How you want your Tally to be known
tally.name=Doe
; Common anode: grb+, common cathode: grb-
operator.type=grb+
; LED count 0-10 and color order grb/rgb
operator.ws2812=5 grb
stage.type=grb+
stage.ws2812=0 grb
